@import './variables';
@import './functions';

@mixin page-container {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  overflow: auto;
}

@mixin page-header {
  border-bottom: 2px solid $gray;
  padding-top: PxToRem(20);
}

@mixin page-title {
  font-size: $bigFontSize;
  line-height: normal;
  margin-bottom: PxToRem(16);
}
